* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { font-family: sans-serif; 
    background-color: red;
    color: #fff;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-width: 200px;
}

.type {
    background-color: red;
    color: white;
}

button {
    background-color: white;
    padding: 1% 3% 1% 3%;
    border-radius: 30px;
    color: black;
    border: none;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
  }

  .card__face--front {
    background: white;
    border-radius: 15px;
  }
  
  .card__face--back {
    background: White;
    transform: rotateY(180deg);
    border-radius: 15px;
  }