* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { font-family: sans-serif; }

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-width: 200px;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    color: #fff;
    background: #f00;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
}

.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}