* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { font-family: sans-serif; }

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-width: 200px;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    color: #fff;
    background: #f00;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: red;
  }
  
  .card__face--back {
    background: blue;
    transform: rotateY(180deg);
  }